# create RSA certs - Server

RANDFILE = ./openssl.rnd

[ req ]
default_bits = 2048
default_md = sha256
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type

[ req_dn ]
countryName = Country Name (2 letter code)
countryName_default = id

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = jakarta

localityName                    = Locality Name (eg, city)
localityName_default            = setiabudi

organizationName                = Organization Name (eg, company)
organizationName_default        = divatel

organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = services

commonName                      = Common Name (FQDN of your server)
commonName_default              = mmonit.divatel.lan

emailAddress                    = Email Address
emailAddress_default            = monit@box.yaconnect.com

[ cert_type ]
nsCertType = server
